<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aglook.comapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application.ComAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.BaseActivity"
            android:label="@string/title_activity_base" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Activity.ClassifyActivity"
            android:label="@string/title_activity_classify" />
        <activity
            android:name=".Activity.GoodsDetailActivity"
            android:label="@string/title_activity_goods_detail" />
        <activity
            android:name=".Activity.GuideActivity"
            android:label="@string/title_activity_guide" />
        <activity
            android:name=".Activity.FindPasswordActivity"
            android:label="@string/title_activity_find_password" />
        <activity
            android:name=".Activity.BasicInformationActivity"
            android:label="@string/title_activity_basic_information"
            android:windowSoftInputMode="adjustPan" >
            wi
        </activity>
        <activity
            android:name=".Activity.GuaDanDetailActivity"
            android:label="@string/title_activity_gua_dan_detail" >
        </activity>
        <activity
            android:name=".Activity.GuaDanAddActivity"
            android:label="@string/title_activity_gua_dan_add"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".Activity.PayResultActivity"
            android:label="@string/title_activity_pay_succeed" >
        </activity>
        <activity
            android:name=".Activity.PersonInformationActivity"
            android:label="@string/title_activity_person_information" >
        </activity>
        <activity
            android:name=".Activity.BandCardActivity"
            android:label="@string/title_activity_band_card" >
        </activity>
        <activity
            android:name=".Activity.ScreenActivity"
            android:label="@string/title_activity_screen" >
        </activity>
        <activity
            android:name=".Activity.ConfirmOrderActivity"
            android:label="@string/title_activity_confirm_order"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activity.AllOrderActivity"
            android:label="@string/title_activity_all_order" >
        </activity>
        <activity
            android:name=".Activity.AllGuaDanActivity"
            android:label="@string/title_activity_all_gua_dan" >
        </activity>
        <activity
            android:name=".Activity.ToPayActivity"
            android:label="@string/title_activity_to_pay" >
        </activity>
        <activity
            android:name=".Activity.TransSucceedActivity"
            android:label="@string/title_activity_to_receive" >
        </activity>
        <activity
            android:name=".Activity.CardListActivity"
            android:label="@string/title_activity_card_list" >
        </activity>
        <activity
            android:name=".Activity.MyCangDanActivity"
            android:label="@string/title_activity_my_cang_dan" >
        </activity>
        <activity
            android:name=".Activity.PlatformActivity"
            android:label="@string/title_activity_platform" >
        </activity>
        <activity
            android:name=".Activity.PickUpActivity"
            android:label="@string/title_activity_pick_up" >
        </activity>
        <activity
            android:name=".Activity.PickInfoActivity"
            android:label="@string/title_activity_pick_info"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activity.DriverListActivity"
            android:label="@string/title_activity_driver_list" >
        </activity>
        <activity
            android:name=".Activity.DriverAddActivity"
            android:label="@string/title_activity_driver_add" >
        </activity>
        <activity
            android:name=".Activity.DriverInfoActivity"
            android:label="@string/title_activity_driver_info" >
        </activity>
        <activity
            android:name=".Activity.OrderDetailActivity"
            android:label="@string/title_activity_order_detail" >
        </activity>
        <activity
            android:name=".Activity.ModifyPasswordActivity"
            android:label="@string/title_activity_modify_password" >
        </activity>
        <activity
            android:name=".Activity.HangQingListActivity"
            android:label="@string/title_activity_hang_qing_list" >
        </activity>
        <activity
            android:name=".Activity.HangDetailActivity"
            android:label="@string/title_activity_hang_detail" >
        </activity>
        <activity
            android:name=".Activity.PlatformDetailActivity"
            android:label="@string/title_activity_platform_detail" >
        </activity>
        <activity
            android:name=".Activity.PickUpDtailActivity"
            android:label="@string/title_activity_pick_up_dtail_activity2" >
        </activity>
        <activity
            android:name=".Activity.FriendsListActivity"
            android:label="@string/title_activity_buyer_list" >
        </activity>
        <activity
            android:name=".Activity.FriendsAddActivity"
            android:label="@string/title_activity_buyer_add" >
        </activity>
        <activity
            android:name=".Activity.GoodsCollectActivity"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name=".Activity.FriendsDetailActivity"
            android:label="@string/title_activity_friends_detail" >
        </activity>
        <activity
            android:name=".Activity.TradeingActivity"
            android:label="@string/title_activity_tradeing" >
        </activity>
        <activity
            android:name=".Activity.PayActivity"
            android:label="@string/title_activity_pay" >
        </activity>
        <activity
            android:name=".Activity.ModifyPickUpActivity"
            android:label="@string/title_activity_modify_pick_up_activity2" >
        </activity>
    </application>

</manifest>
